/*
Colors used:
Primary Color  (Gold): #D4AF37
Secondary Color (White): #FDFDFD
Text Color 1 (grey): #DAEFFC
Text Color 2 (White): #3C3C3B
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #202326;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #FDFDFD;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
  margin: 1rem 0 1.38rem;
}

h1 {
  margin: 5px ;
  font-size: 2.441em;
  font-weight: 700;
}

h2 {
  font-size: 1.953em;
  font-weight: 700;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.563em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 0;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

p {
  margin: 10px 0;
}

.darktext {
  opacity: 0.6;
  margin-top: 1px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

a {
  color: #3C3C3B;
  text-decoration: underline;
}

a:visited {
  color: #3C3C3B;
}

a:hover,
a:focus {
  color: #8A8A89;
  text-decoration: underline;
}

a:active {
  color: #8A8A89;
}

.button {
  display: inline-block;
  background-color: #BFE2F9;
  text-decoration: none;
  color: #202326;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #8EA8B9;
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #BFE2F9;
  color: #202326;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #D4AF37;
  text-transform: uppercase;
  border: 2px solid #D4AF37;
}

.button.contact:hover {
  background-color: #D4AF37;
  color: #FDFDFD;
}

.mockup {
  transition: 0.5s
}

.mockup:hover {
  opacity: 0.7;
}

/* Layout Styling*/
header {
  background-color: #FDFDFD;
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
}

nav>ul {
  text-align: right;
  list-style-type: none;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3C3C3B;
  text-decoration: none;
}

nav>ul>li>a:hover {
  text-transform: uppercase;
  font-weight: 700;
  color: #3C3C3B;
  text-decoration: none;
}

.button {
  margin: 15px 0;
}

.container {
  padding: 0 15px;
}

.section {
  padding: 10px 0;
}

.row {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.column {
  padding: 10px 0;
}

.centered {
  text-align: center;
}

#hero .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h3 {
  text-align: center;
  background-color: #202326;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 220px;
  float: left;
}

main {
  padding-top: 90px;
}

.social ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.social ul li {
  display: inline-block;
  margin: 0 15px;
}

.social .fab {
  font-size: 24px;
}

.button.contact {
  margin: 15px 0;
}

footer {
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 56px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(60, 60, 59, 0.3)
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.mockup {
  transition: transform 2000ms ease-in-out;
  transform-origin: center;
}

.mockup:hover {
  transform: scale(0.7);
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  .header {
    text-align: right;
  }

  .navtoggle.responsive li {
    display: block;
    text-align: right;
    border-top: 0;
  }
}

nav>ul>li>a {
  font-size: 16px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3C3C3B;
  text-decoration: none;
  text-align: right;
}

nav>ul>li>a:last-child {
  padding-right: 0;
}

nav>ul>li>a:hover {
  text-transform: uppercase;
  font-weight: 700;
  color: #8A8A89;
  text-decoration: none;
}

#home span {
  display: block;
}

.col-md-6 {
  width: 50%;
  padding: 20px;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.navtoggle li .icon {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 25px;
}

/* ==============================
Large devices (1025px or larger)
================================= */
@media only screen and (min-width: 1025px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    float: right;
    width: auto;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child{
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }
}
