/*
Colors used:
Background Color (Black tone): #202326
Primary Color  (Blue): #BFE2F9
Pimrary Color Shadow (Dark Blue): #8EA8B9
Primary Color Light (light Blue): #DAEFFC
Text Color(White): #FDFDFD
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #202326;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #FDFDFD;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
  margin: 3rem 0 1.38rem;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
  font-weight: 700;
}

h2 {
  font-size: 1.953em;
  font-weight: 700;
}

h3 {
  font-size: 1.563em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

.darktext {
  opacity: 0.6;
}

img {
  width: 100%;
}

a {
  color: #BFE2F9;
  text-decoration: underline;
}

a:visited {
  color: #BFE2F9;
}

a:hover,
a:focus {
  color: #DAEFFC;
  text-decoration: underline;
}

a:active {
  color: #BFE2F9;
}

.button {
  display: inline-block;
  background-color: #BFE2F9;
  text-decoration: none;
  color: #202326;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #8EA8B9;
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #BFE2F9;
  color: #202326;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #BFE2F9;
  text-transform: uppercase;
  border: 2px solid #BFE2F9;
}

.button.contact:hover {
  background-color: #BFE2F9;
  color: #202326;
}

/* Layout Styling*/
header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 3px 11px 0px rgba(55, 50, 50, 0.5);
  position: fixed;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #BFE2F9;
  text-decoration: none;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #DAEFFC;
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero {
  background-color: #ffe4c4;
}

#hero .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h3 {
  text-align: center;
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 250px;
}

main {
  padding-top: 100px;
}
